<elgg-field :class="fieldClass">
    <label slot="label"
           v-if="label"
           :for="id"
           class="label elgg-field-label"
    >
        {{ label }}
        <span v-if="required" title="echo('field:required')" class="elgg-required-indicator">*</span>
    </label>

    <div class="control">
        <input v-model="value"
               @input="onInput"
               type="text"
               :required="required"
               :name="name"
               :id="id"
               :placeholder="placeholder"
               class="input elgg-input-text"
               :class="inputClass"
        />
    </div>

    <div slot="help"
         v-if="help"
         class="help elgg-field-help elgg-text-help"
    >
        {{ help }}
    </div>

</elgg-field>