<section
        class="elgg-listing-container"
        :class="containerClass"
>

    <div class="elgg-listing-controls">
        <elgg-input-text
                leftIcon="search"
                v-model="filter.query"
                :loading="isSearchingByText"
                @input="initSearch"
                class="is-inline-block"
        />

        <slot name="controls"></slot>

        <div class="is-inline-block">
            <div class="field has-addons">
                <p v-if="listTypes.length > 1"
                   v-for="listType in listTypes"
                   class="control"
                >
                    <elgg-button
                            :color="currentListingType === listType ? 'primary' : ''"
                            :disabled="currentListingType === listType"
                            :icon="listing[listType].icon || defaultListTypeIcon(listType)"
                            @click.prevent="toggleListType(listType)"
                    />
                </p>
            </div>
        </div>
    </div>

    <p class="elgg-no-results"
       v-if="!loading && !count && noResults"
       v-text="noResults"
    ></p>

    <slot v-if="count" name="before"></slot>

    <elgg-pagination
            v-if="hasPagination('top')"
            :count="count"
            :limit="limit"
            :offset="offset"
            @navigate="navigate"
    />

    <animated-fade-in :duration="1" tag="div">
        <component
                v-if="items"
                :is="listingComponent"
                :items="items"
                :options="listingComponentOptions"
                v-model="selectedItems"
                @sort="sort"
        ></component>
    </animated-fade-in>

    <slot name="footer-controls"></slot>

    <elgg-pagination
            v-if="hasPagination('bottom')"
            :count="count"
            :limit="limit"
            :offset="offset"
            @navigate="navigate"
    />

    <slot v-if="count" name="after"></slot>

</section>