<table class="elgg-table table">
    <thead>
    <tr>
        <th v-if="inputName || selectable">
            <input
                    type="checkbox"
                    v-model="allToggledOnPage"
                    @change="toggleAll"
            />
        </th>
        <th v-for="column in columns">
            {{ getColumnHeading(column) }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr
            v-for="row in rows"
            :class="rowClass(row)"
    >
        <td v-if="inputName || selectable">
            <input
                    v-if="inputName || selectable"
                    type="checkbox"
                    :name="inputName"
                    :value="inputValue(row)"
                    :checked="isSelected(row)"
                    @change="toggleSelected(row)"
            />
        </td>
        <td v-for="column in columns" class="elgg-table-cell">
            <elgg-component v-bind="getColumnComponentProps(column, row)"></elgg-component>
        </td>
    </tr>
    </tbody>
</table>