.elgg-listing-container.elgg-state-loading {
    opacity: 0.5;
    cursor: wait;
}

.elgg-listing-container.elgg-state-loading * {
    cursor: wait;
}

.elgg-item.elgg-state-selected {
    background-color: rgba(0, 0, 0, 0.025) !important;
}

.elgg-media-player {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.elgg-media-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hello{





}